[Desktop Entry]
Type=Application
Name=code
Exec=/home/sdsaati/Downloads/apps/VSCode-linux-x64/bin/code
Icon=/home/sdsaati/Downloads/apps/VSCode-linux-x64/resources/app/resources/linux/code.png

