[Desktop Entry]
Type=Application
Name=Obsidian
Exec=/home/sdsaati/Downloads/apps/Obsidian-1.4.16.AppImage
Icon=/usr/share/icons/Pop/48x48/apps/x-office-contact.svg

